.example-card {
  max-width: 400px;
  max-height: 800px;
  margin: 15px;
  background-color: white;
  margin-left: 30%;
}

.titleCard {
  height: 80px;
  font-size: 16px;
  color: black;
}

.titlePrice {
  font-size: 16px;
  color: black;
  margin-right: 20px;
}

.titleDescription {
  font-size: 16px;
  color: black;
  height: 200px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 30%;
}

.buttonCard {
  margin-left: 5px;
}

.productImage {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
  margin-bottom: 10px;
}

.productDiv {
  display: flex;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.button {
  color: darkgray
}


.shoppingCardDiv {
  border-left: 1px solid black;
}
